{% extends 'base.html' %} {%block title%} Share a Secret: Safe and Encrypted {%
endblock %} {% block main %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p class="sub-head">There is a Secret Message for You</p>
            <div class="main-form">
                <div class="row">
                    <div class="row">
                        <label for="shortned_url" class="sub-heading-form" style="text-align:left;">Your Message
                            Here</label><br />
                        <p class="long_url_output" id="shortned_url" style="overflow-wrap: break-word;
                                ">{{sec_msg}}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}